* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #1e90ff, #0a2540);
    color: white;
    position: relative;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: slideImages 15s infinite ease-in-out;
}

/* DARK OVERLAY */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
    padding: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00c6ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* SLIDER */
@keyframes slideImages {
  0% { background-image: url("photos/panel.jpeg"); }
  33% { background-image: url("photos/inverter.jpg"); }
  66% { background-image: url("photos/pumps.jpg"); }
  100% { background-image: url("photos/panel.jpeg"); }
}

/* SECTION */
.section {
    padding: 50px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-top: 10px;
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background-color: #00c6ff;
}

/* DARK */
.dark {
    background: #0a2540;
    color: white;
}

/* CALL BUTTON */
.call-btn {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00c6ff;
    padding: 12px 18px;
    color: white;
    border-radius: 50px;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        color: white;
    }

    nav {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #0a2540;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    nav a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    nav.active {
        display: flex;
    }

    .hero {
        height: 70vh;
    }

    .hero-text h2 {
        font-size: 22px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
